#This is a sample settings file for XCAB
# This is parsed by /bin/sh, so whitespace is relevant, please don't put spaces before or after the equals signs
# and values with spaces in them should be enclosed in double-quotes (see the PREFS_DIR value below)

###############################################################################
#You Should change all of these
###############################################################################
#Email address where you want errors emailed
ERROR_EMAIL="user@example.com"

#Email address where you want build output emailed if everything succeeds. 
# You can set this to ${ERROR_EMAIL} if you only want to keep track of one
SUCCESS_EMAIL="user@example.com"

#Email and password for your Boxcar account (needed to send you push notifications)
BOXCAR_EMAIL="user@example.com"
BOXCAR_PASSWORD="YOUR_BOXCAR_PASSWORD_GOES_HERE"

#This is the URL to the root of your Dropbox public folder.  Go to https://www.dropbox.com/help/16 and follow the directions there to get
# the path to something in your public folder, and chop it off after the Userid number
PUBLIC_URL_ROOT="http://dl.dropbox.com/u/YOUR_DROPBOX_ID_GOES_HERE"

###############################################################################
#You Should change both these if you want the script to run from cron
###############################################################################

#If you want to want to run XCAB from cron, you'll need to specify a keychain and the associated password
#  so XCAB can unlock it.  You can ignore this if you're running it from a loop in a terminal in a logged in session
# CODESIGNING_KEYCHAIN="${my_dir}/forCodeSigningOnly.keychain"
# CODESIGNING_KEYCHAIN_PASSWORD="YOUR_CODESIGNING_PASSWORD_GOES_HERE"


###############################################################################
#You can change the next paths or leave them to the defaults
###############################################################################

#Folder on your Mac where you want XCAB to check out and build code
SCM_WORKING_DIR="$HOME/src/XCAB_working_dir"

#The Folder inside your Dropbox in which you want XCAB to look for your changes
XCAB_DROPBOX_PATH="Code/XCAB"

###############################################################################
#If you want to use RSYNC to go to a non-Dropbox server, fill in these variables
# Configuring RSYNC is your responsibility
###############################################################################

# RSYNC_USER=apache
# XCAB_WEBSERVER_HOSTNAME="www.example.com"
# XCAB_WEBSERVER_XCAB_DIRECTORY_PATH="/var/www/htdoc/XCAB"

###############################################################################
#You probably won't need to change anything below this line
###############################################################################
DROPBOX_HOME="$HOME/Dropbox"
XCAB_HOME="${DROPBOX_HOME}/${XCAB_DROPBOX_PATH}"
XCAB_CONF="${XCAB_HOME}/XCAB.conf"
OVER_AIR_INSTALLS_DIR="$DROPBOX_HOME/Public/XCAB"
XCAB_WEB_ROOT="${PUBLIC_URL_ROOT}/XCAB"
PREFS_DIR="$HOME/Library/Application Support/XCAB"

